<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Ximon : Player</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link href="styles/player.css" rel="stylesheet" media="all">
  <script src="scripts/player.js" defer></script>
</head>
<body>
	<main @pointermove.prevent="noop" @contextmenu.prevent="noop" @selectstart.prevent="noop">
		<div id="player" :class="{ disabled: player.number === 0 }">
			<div id="number">{{ player.number }}</div>
			<div id="buttons" :class="{ disabled: !isPlayerEnabled }">
        <button 
          v-for="(button, id) in buttons"
          :key="id" 
          :class="[ button.color, { active: button.isActive }]" 
          @pointerdown.prevent="onButtonDown(id, $event)" 
          @pointerup.prevent="onButtonUp(id)">
        </button>
      </div>
			<div id="errors">
        <svg v-for="index in 3" :class="{ enabled: player.errors >= index }">
          <use href="graphics/common.svg#icon-error"></use>
        </svg>
      </div>
		</div>
	</main>
</body>
</html>
